{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="./static/style/login.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center">Login</h3>
    <form action="/login" method='POST'>
        <span id="sign-up">Don't have an account? Sign up <a href="/signup">here!</a></span>
        <div id="input-container">
            {{form.hidden_tag()}}
            {% for field in form if field.widget.input_type != 'hidden'%}
            {{field.label}} {{field(class='form-control')}}
            {% endfor %}
        </div>
        <button class="btn mx-auto d-block">Login</button>
    </form>
</div>
{% endblock %}