{% macro render_set(index, set) %}
<div class="set">
<span style="color: var(--my-red);">Set {{index}}</span>
<div class="tw">Target weight: {{set.target_weight}} {{g.user.unit.abbr}}s</div>
<div class="cw">Completed weight: {{set.completed_weight}} {{g.user.unit.abbr}}s</div>
<div class="tr">Target reps: {{set.target_reps}}</div>
<div class="cr">Completed reps: {{set.completed_reps}}</div>
<div class="trpe">Target RPE: {{set.target_RPE}}</div>
<div class="crpe">Completed RPE: {{set.completed_RPE}}</div>
<div class="rt">Rest time: {{set.resttime//60}}:{{set.resttime % 60}}</div>
</div>
{% endmacro %}